:root {
  --background-primary: #004643;
  --text-headline: #fffffe;
  --text-paragraph: #abd1c6;
  --button-primary: #f9bc60;
  --button-text: #001e1d;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--background-primary);

}

.title {
  text-align: center;
  margin: 20px 0;
  color: var(--text-headline);
}

ul {
  list-style: none;
}