nav {
  padding: 20px;
  opacity: 0;
  transition: all .3s;
  a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--text-headline);
  }
  ul {
    display: flex;
    text-align: center;
    list-style: none;
    width: 700px;
    margin: 0 auto;
    justify-content: space-between;

  }
}